*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none; /*retira a borda do input*/
}

body {
    background-color: rgb(200, 200, 200);
}

.container-principal {
  display: flex; /* Alinha os filhos em linha (um ao lado do outro) */
}

.Logo {
    width: px;
    margin: 70px 50px;
}

main {
    width: 375px;
    background: #f4f4f4;
    border-radius: 28px;
    margin: 40px 40px;
    padding: 44px 24px 23px;
}

.currency-logo-convert, .currency-logo-converted {
    width: 64px;
    height: 64px;
}

label {
    color: #777777;
    font-weight: 400px;
    font-size: 14px;
}

select, input {
    background: #FFFFFF;
    border: 1px solid;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none; /*Seta de escolha*/
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}

/* Remove as setinhas em navegadores baseados em Webkit (Chrome, Safari, Edge, Opera) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove as setinhas no Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

button {
    background: #2b32f9;
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 48px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img {
    margin: 15px 0;    
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}


.currency {
    color: #777777;
    font-size: 14px;
}

.currency-value-to-convert, .currency-value-converted {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}



/* Revisar - Responsividade para Celulares */
@media (max-width: 768px) {
    .container-principal {
        flex-direction: column;
        gap: 30px;
    }
    
    main {
        padding: 10px 10px;
    }
    .Logo {
        width: 200px;
    }
    
/*     .conversor-card {
        padding: 24px 20px;
    } */
}